/**
 * START --- TAILWIND GENERATOR EDIT
 *
 * `yarn rw setup tailwind` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#add-tailwind-to-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/**
 * END --- TAILWIND GENERATOR EDIT
 */

:root {
  /* react-phone-number-input css variables */

  --PhoneInput-color--focus: none !important;
  /* --PhoneInputInternationalIconPhone-opacity: 0.8;
   --PhoneInputInternationalIconGlobe-opacity: 0.65;
   --PhoneInputCountrySelect-marginRight: 0.35em;
   --PhoneInputCountrySelectArrow-width: 0.3em;
   --PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
   --PhoneInputCountrySelectArrow-borderWidth: 1px;
   --PhoneInputCountrySelectArrow-opacity: 0.45;
   --PhoneInputCountrySelectArrow-color: inherit;
   --PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
   --PhoneInputCountrySelectArrow-transform: rotate(45deg);
   --PhoneInputCountryFlag-aspectRatio: 1.5;
   --PhoneInputCountryFlag-height: 1em;
   --PhoneInputCountryFlag-borderWidth: 1px; */
  --PhoneInputCountryFlag-borderColor: none !important;
  /* --PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus); */
  --PhoneInputCountryFlag-backgroundColor--loading: none !important;

  /* daisyui cupcake theme base colours var */
  --p: 183 47.4% 59%;
  --pf: 183 47.2% 49%;
  --pc: 0 0% 100%;
  --s: 338 71.4% 78%;
  --sf: 338 71.8% 68%;
  --a: 39 84.1% 58%;
  --af: 39 83.7% 48%;
  --b1: 24 33.3% 97.1%;
  --b2: 27 22% 92%;
  --b3: 22 14.3% 89%;
  --bc: 280 46.5% 13.9%;

  --btn-text-case: 'capitalize';

  @apply bg-base-300 text-neutral;
}

::selection {
  @apply bg-primary-focus text-primary-content;
}

button:focus {
  outline: none;
}

.navbar,
.layout-content {
  max-width: 1120px;
  @apply mx-auto;
}

.layout-content {
  @apply mt-20;
}

.home .login-box {
  @apply w-full;
}

.home :not(.login-box) > .card {
  flex-basis: theme('spacing.96');
  max-width: theme('spacing.80');
  @apply glass text-center shadow-2xl flex-grow flex-shrink w-full;
}

@screen lg {
  .home .login-box {
    flex-basis: 500px;
  }
  .home :not(.login-box) > .card {
    height: theme('spacing.96');
    flex-basis: auto;
  }
}

/* Overwrite PhoneInput inner input styles */
.PhoneInputInput {
  background-color: transparent;
  outline: inherit;
}
