<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Primary Meta Tags -->
  <meta name="title" content="<%= ogTitle %>">
  <meta name="description" content="<%= ogDescription %>">
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= ogUrl %>">
  <meta property="og:title" content="<%= ogTitle %>">
  <meta property="og:description" content="<%= ogDescription %>">
  <meta property="og:image" content="<%= ogImage %>">
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="<%= ogUrl %>">
  <meta property="twitter:title" content="<%= ogTitle %>">
  <meta property="twitter:description" content="<%= ogDescription %>">
  <meta property="twitter:image" content="<%= ogImage %>">

  <link rel="manifest" href="<%= manifest %>" />
  <link rel="icon" type="image/png" href="/favicon.ico" />
  <title><%= htmlWebpackPlugin.options.title %></title>

  <!-- magic.link improves page performance (temp) -->
  <link rel="preconnect" href="https://api.magic.link">
  <link rel="preconnect" href="https://auth.magic.link">
  <link rel="preconnect" href="https://assets.auth.magic.link">
  <link rel="preconnect" href="https://kms.us-west-2.amazonaws.com">
</head>

<body>
  <div id="redwood-app">
    <!-- Please keep the line below for prerender support. -->
    <%= prerenderPlaceholder %>
  </div>
</body>

</html>